.app {
  padding: 20px;
}

.sidebar,
.main {
  background-color: #ffffff;
}

.sidebar {
  margin-right: 15px;

  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
