body {
  background-color: #dfdfdf;
  height: 100%;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

:global {
  .column > * {
    background-color: #fff;
    padding: 20px;
  }
}
